* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  /* position: absolute; */
}

.a {
  height: 73px;
  width: 100%;
  background: #f5f8fa;
  border-bottom: 0.5px solid#E0E6EA;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.hea {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.hea a {
  text-decoration: none;
  color: #1d2c3c;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
}

.main {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05),
    0px 15px 35px 0px rgba(43, 64, 78, 0.1);
  width: 70%;
  margin: 2% auto;
  height: 795px;
}

.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 40px 0 40px 40px;
}

.ch {
  color: #1d2c3c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.f1 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

h2 {
  color: #1d2c3c;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

input {
  border-radius: 4px;
  background: #edeff2;
  border: none;
  width: 227px;
  height: 36px;
  flex-shrink: 0;
}

.f2 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.f3 input {
  width: 483px;
  height: 36px;
  flex-shrink: 0;
}

.wp {
  width: 483px;
  height: 36px;
  flex-shrink: 0;
  border: none;
  border-radius: 6px;
  background-color: #038e7d;
}

.need {
  display: flex;
  align-items: start;
  margin: 10px 0 10px 110px;
  width: 250px;
  height: 20px;
  flex-shrink: 0;
}

.need p {
color: #646e7a;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.01px;
}

.pos {
margin-top: 10px;
margin: 20px 0 0 200px;
}

.free {
  border-radius: 0px 6px 6px 0px;
  background: #1179bf;
  color: white;
  width: 312px;
  height: 795px;
  flex-shrink: 0;
  position: absolute;
  left: 800px;
  top: 98px;
  /* height: 555px; */
}

.free__container {
  padding: 20px;
}

.free h1 {
  margin-bottom: 25px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
}

.dollar {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 15px;
}

.dollar p {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.015px;
}

.auto {
  margin-bottom: 35px;
  width: 170px;
}

.cs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 20px;
  height: 96px;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.cs p {
  width: 130px;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.008px;
}

.client {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.008px;
  margin-top: 40px;
}

.switch {
  margin-top: 30px;
  text-decoration: underline;
}

.hr {
  width: 170px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.ftp {
  width: 227px;
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.009px;
}

.kk {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.kk p {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.008px;
}

.footer{
  text-align: center;
  padding: 2% 0;
}